body {
    background-image: url('https://s3-prod.crainsnewyork.com/styles/width_792/s3/Chrysler.jpg');
    background-size: 100vw auto;
    font-family: Corbel;
    height: 100vh;
  }
  
  .menu{
    background-color:#CCCCFF
  }
  
  .menu ul{
    display: flex;
    justify-content: space-around; 
  }
  
  .menu li{
    list-style: none;
  }
  
  a{
    color:black; 
    text-decoration: none;
  }
  a:hover{
    text-decoration: underline;
  }
  .site-title {
    color: whitesmoke;
    font-size: 40px;
  }
  .site-subtitle{
    color: whitesmoke;
    font-style: italic;
    font-size: 20px;
  }