/* soft reset do css */
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
    background-image: url('https://s3-prod.crainsnewyork.com/styles/width_792/s3/Chrysler.jpg');
    background-size: 100vw auto;
    font-family: corbel;
    height: 100vh;
  }

  header{
    height: 75vh;
    display: flex;
    justify-content: right;
    align-items: center;
  }

  .menu{
    background-color:#CCCCFF;
    position:fixed;
    width: 100vw;
    top: 0;
  }

  .menu a{
    display: block;
    background-color: #CCCCFF;
    padding: 5px 20px;
  }
  
  .menu ul{
    display: flex;
    justify-content: space-around; 
  }
  
  .menu li{
    list-style: none;
  }
  
  a{
    color:black; 
    text-decoration: none;
  }

  a:hover{
    text-decoration: underline;
  }

  .site-title {
    color: whitesmoke;
    font-size: 40px;
  }

  .site-subtitle{
    color: whitesmoke;
    font-style: italic;
    font-size: 20px;
  }
  
  section{
    display: flex;
    padding: 20px;
    width: 100vw;
  }

  figure{
    
  }

  .img-portfolio{
    height: 80px; 
    width: 120px;
    padding: 0px 10px;
    }

  h2{
    color: whitesmoke;
    justify-content: right;
  }

  figcaption{
    color: whitesmoke;
    padding: 0px 10px;
  }
