/* soft reset do css */
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
    background-image:url('https://s3-prod.crainsnewyork.com/styles/width_792/s3/Chrysler.jpg');
    background-size: 100vw auto;
    font-family: 'Roboto Mono', monospace;
    height: 100vh;
  }

  header{
    height: 75vh;
    display: flex;
    justify-content: right;
    align-items: center;
  }

  .menu{
    background-color:#CCCCFF;
    position:fixed;
    font-family: 'IBM Plex Sans', sans-serif;
    width: 100vw;
    top: 0;
  }

  .menu a{
    display: block;
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: #CCCCFF;
    padding: 5px 20px;
  }
  
  .menu ul{
    display: flex;
    justify-content: space-around; 
  }
  
  .menu li{
    list-style: none;
  }
  
  a{
    color:black; 
    text-decoration: none;
  }

  a:hover{
    text-decoration: underline;
  }

  .site-title {
    color: whitesmoke;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
  }

  .site-subtitle{
    color: whitesmoke;
    font-family: 'IBM Plex Sans', sans-serif;
    font-style: italic;
    font-size: 20px;
  }
  
  section{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    width: 100vw;
    font-family: 'Comfortaa', cursive;
  }

  .img-portfolio{
    height: 100px; 
    width: 150px;
    padding: 0px 0px;
    text-align: center;
    object-fit: cover;
    }

  h2{
    color: whitesmoke;
    justify-content: right;
    font-family: 'Comfortaa', cursive;
  }


  figcaption{
    color: black;
    background-color: #98C1D9;
    padding: 0px 0px;
    text-align: center;
  }

  figcaption:hover{
    text-decoration: underline
  }
